.TimeBarItem {
    text-align: center;
    margin-left: 12rem;
    margin-top: 4rem;
}
.TimeBarItemMarker:before {
    background: rgb(65, 189, 238);
    border: 3px solid transparent;
    border-radius: 100%;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    top: 1px;
left: 10px;
    width: 15px;
}
.TimeBarItemContent {
    float: left;
}